body {
    font-family: sans-serif;
    background-color: #29508e;
}

h1 {
    color: #ffffff;
    font-family: 'georgia', serif;
    margin: 0;
    left: 50%;
    text-align: center;
    border-bottom: 2px solid #eee;
}

p {
    margin: 0px;
}

input, textarea {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.pane {
    position: absolute;
    left: 25%;
    width: 50%;
    border: 2px solid;
    border-radius: 25px;
    padding: 0px;
    margin: 5px;
    border-color: #eee;
    background-color: #29508e;
    text-align: center;
}

.banner {
    left: 0px;
    right: 0px;
    border: 1px;
    border-radius: 10px;
    margin: 10px 5px 0px;
    border-color: #eee;
    background-color: #eee;
}

.rName {
    display: inline-block;
    word-wrap: break-word;
    border: 1px;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: 100%;
    padding: 5px;
    font-family: 'georgia', serif;
    color: #29508e;
    text-decoration: none;
    text-transform: uppercase;
}

.rName:hover {
    background-color: #ddd;
}

.options {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    padding: 3px;
    border: solid;
    border-width: 0px 1px 1px;
    border-radius: 0px 0px 5px 5px;
    border-color: #eee;
}

.editAndDel {
    flex: 1 1 0;
    color: #eee;
    font-size: 75%;
    text-decoration: none;
    text-transform: uppercase;
}

.editAndDel:hover {
    color: #ddd;
}

.editAndDel + .editAndDel {
    border-left: solid 1px #eee;
}

.footer {
    left: 0px;
    right: 0px;
    border: 1px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 10px;
    background-color: #eee;
    text-align: center;
}

.addToList {
    display: inline-block;
    word-wrap: break-word;
    border: 1px;
    border-radius: 0px 0px 20px 20px;
    width: calc(100% - 6px);
    height: 100%;
    padding: 3px;
    font-family: 'georgia', serif;
    color: #29508e;
    text-decoration: none;
    text-transform: uppercase;
}

.addToList:hover {
    background-color: #ddd;
}
