<html>
    <head>
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='styles-final.css')}}'>
    </head>

    <body>
        <div class='pane'>
            <h1>Edit Menu Item</h1>

            <form action='{{url_for('editMenuItem', rest_id=rest_id, item_id=item.id)}}' method='POST'>
                <dl>
                    <dt class='banner'>Name: <input type='text' size='30' name='name' placeholder=
                      '{{item.name}}'></dt>
                    <dt class='banner'>Description:</dt>
                        <dd class='text'><textarea rows='5' cols='40' name='description' placeholder=
                          '{{item.description}}'></textarea></dd>
                    <dt class='banner'>Price: <input type='text' size='8' name='price' placeholder=
                      '{{item.price}}'></dt>
                    <div class='banner'>
                        <dt>Course:</dt>
                            {% if item.course == 'Appetizer' %}
                                <dd class='course'><input type='radio' name='course' value='Appetizer' checked required>Appetizer</dd>
                            {% else %}
                                <dd class='course'><input type='radio' name='course' value='Appetizer' required>Appetizer</dd>
                            {% endif %}
                            {% if item.course == 'Entree' %}
                                <dd class='course'><input type='radio' name='course' value='Entree' checked>Entree</dd>
                            {% else %}
                                <dd class='course'><input type='radio' name='course' value='Entree'>Entree</dd>
                            {% endif %}
                            {% if item.course == 'Dessert' %}
                                <dd class='course'><input type='radio' name='course' value='Dessert' checked>Dessert</dd>
                            {% else %}
                                <dd class='course'><input type='radio' name='course' value='Dessert'>Dessert</dd>
                            {% endif %}
                            {% if item.course == 'Beverage' %}
                                <dd class='course'><input type='radio' name='course' value='Beverage' checked>Beverage</dd>
                            {% else %}
                                <dd class='course'><input type='radio' name='course' value='Beverage'>Beverage</dd>
                            {% endif %}
                    </div>
                </dl>
                <div class='options'>
                    <input class='editAndDel' type='submit' value='Edit'>
                    <a class='editAndDel' href='{{url_for('restaurantMenu', rest_id=rest_id)}}'>Cancel</a>
                </div>
            </form>
        </div>

    </body>
</html>
