<html>
    <head>
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='styles-final.css')}}'>
    </head>

    <body>
        <div class='pane'>
            <h1>Restaurant List:</h1>

            {% for r in restaurants %}
                <div class='banner'>
                    <a class='rName' href='{{url_for('restaurantMenu', rest_id=r.id)}}'>{{r.name}}</a>
                </div>
                <div class='options'>
                    <a class='editAndDel' href='{{url_for('editRestaurant', rest_id=r.id)}}'>Edit</a>
                    <a class='editAndDel' href='{{url_for('deleteRestaurant', rest_id=r.id)}}'>Delete</a>
                </div>
            {% endfor %}

            <span class='addToList'><a href='{{url_for('newRestaurant')}}'>Add New Restaurant</a></span>
        </div>

    </body>
</html>
