<html>
    <head>
    </head>

    <body>
        <h1>Restaurant List:</h1>

        {% for r in restaurants %}
            <div>
                <p>{{r.name}}</p>
            </div>
            <div>
                <span><a href='{{url_for('editRestaurant', rest_id=r.id)}}'>Edit</a></span>
                <span><a href='{{url_for('deleteRestaurant', rest_id=r.id)}}'>Delete</a></span>
            </div>
        {% endfor %}

        <a href='{{url_for('newRestaurant')}}'>Add New Restaurant</a>

    </body>
</html>
